#!KAMAILIO -- config for SIPDomainProxy
################################################################################
# Title:  SIPDomainProxy
# Author: Robert J. Ebel
################################################################################



################################################################################
# Module Settings (alias_db)
################################################################################

modparam("alias_db", "db_url", "DBDRIVER://DBUSER:DBPASS@DBHOST/DBNAME")
modparam("alias_db", "use_domain", 1)
