#!KAMAILIO -- config for SIPDomainProxy
################################################################################
# Title:  SIPDomainProxy
# Author: Robert J. Ebel
################################################################################



################################################################################
# Module Settings (nathelper)
# http://kamailio.org/docs/modules/5.2.x/modules/nathelper.html
################################################################################

modparam("nathelper", "natping_interval", 25)
modparam("nathelper", "ping_nated_only", 0)
modparam("nathelper", "received_avp", "$avp(s:recv)")
modparam("nathelper", "sipping_bflag", 7)
modparam("nathelper", "sipping_from", "sip:pinger@PUBADDR")
modparam("nathelper", "keepalive_timeout", 120)
