#!KAMAILIO -- config for SIPDomainProxy
################################################################################
# Title:  SIPDomainProxy
# Author: Robert J. Ebel
################################################################################



################################################################################
# Routing Blocks (set_pai)
################################################################################

route[SET_PAI] {
#!ifdef TESTBED_MODE
xlog("L_DBG", "[$ci] route: SET_PAI\n");
#!endif
  return;
}
